

$base-font-size: 1rem;

$colors: (
  'primary': #db9e3f,
  'info': #4b67af,
  'danger': #791a15,
  'blue-1': #1f3695,
  'blue': #4394e4,
  'white': #fff,
  'white-1': #fcfcfc,
  'white-2': #eceef0,
  'light': #f9f9f9,
  'light-1': #d4d9de,
  'grey': #999,
  'grey-1': #666,
  'dark-1': #343440,
  'dark': #222,
  'black': #000,
  
);
$font-sizes: (
  xxs: 0.6154,
  xs: 0.7692,
  //10px
    sm: 0.9231,
  //12px
    md: 1,
  //13px
    lg: 1.0769,
  //14px
    xl: 1.2308,
  //16px,,,,
);
$flex-jc:(
  start:flex-start,
  end:flex-end,
  center:center,
  between:space-between,
  around:space-around
);
$flex-ai:(
  start:flex-start,
  end:flex-end,
  center:center,
  stretch:stretch
);

$spacing-base-size: 1rem;

$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);