@import './variables';

*{
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 13px;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background: #f1f1f1;
    -webkit-font-smoothing: antialiased;
}

a{
    color: #999;
}
//width height
.w-100{
  width: 100%!important;
}

.h-100{
  height: 100%!important;
}

$base-font-size: 1rem;


@each $colorKey,$color in $colors {
  .text-#{$colorKey}{
    color: $color;
  }
}
@each $colorKey,$color in $colors {
  .bg-#{$colorKey}{
    background: $color;
  }
}

//文字不换行溢出显示省略号
.text-ellipsis{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
$font-sizes: (
  xxs: 0.6154,
  xs: 0.7692,
  //10px
    sm: 0.9231,
  //12px
    md: 1,
  //13px
    lg: 1.0769,
  //14px
    xl: 1.2308,
  //16px,,,,
);
@each $sizeKey,$size in $font-sizes {
  .fs-#{$sizeKey}{
    font-size: $size * $base-font-size;
  }
}
.d-flex {
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
//添加边界
@each $dir in $dir {
  .border-#{$dir}{
    border-#{$dir}: 1px solid $border-color;
  }
}

@each $key,$value in $flex-jc {
  .jc-#{$key}{
    justify-content: $value;
  }
}

@each $var in (right,center,left) {
  .text-#{$var}{
    text-align: $var!important;
  }
}

@each $key,$value in $flex-ai {
  .ai-#{$key}{
    align-items: $value;
  }
}

$spacing-base-size: 1rem;


@each $typeKey,$typeValue in $spacing-types {
  //m-0
  @each $sizeKey,$sizeValue in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey}{
      #{$typeValue}:$sizeValue * $spacing-base-size
    }
  }
  //mx-0
  @each $sizeKey,$sizeValue in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey}{
      #{$typeValue}-left: $sizeValue * $spacing-base-size;
      #{$typeValue}-right: $sizeValue * $spacing-base-size;
    }
  }
  //my-0
  @each $sizeKey,$sizeValue in $spacing-sizes {
    .#{$typeKey}y-#{$sizeKey}{
      #{$typeValue}-top: $sizeValue * $spacing-base-size;
      #{$typeValue}-bottom: $sizeValue * $spacing-base-size;
    }
  }
  //mt-0
  @each $directionsKey,$directionsValue in $spacing-directions {
    @each $sizeKey,$sizeValue in $spacing-sizes {
      .#{$typeKey}#{$directionsKey}-#{$sizeKey}{
        #{$typeValue}-#{$directionsValue}: $sizeValue * $spacing-base-size
      }
    }
  }
}
// button
.btn {
  border:none;
  border-radius: 0.1538rem;
  font-size: map-get($font-sizes, 'sm') * $base-font-size;
  padding: 0.2rem 0.6rem;
  &.btn-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: map-get($colors, 'primary');
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
    background: map-get($colors, 'white-1');
    border: 1px solid map-get($colors, 'white-2');
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }
}

.nav{
  display: flex;
  .nav-item{
    border-bottom: 3px solid transparent;
    padding-bottom: 0.2rem;
    &.active{
      color: map-get($map: $colors, $key: 'primary');
      border-bottom-color: map-get($map: $colors, $key: "primary");
    }
  }
  &.nav-reverse{
    .nav-item{
      color: white;
    &.active{
      color: map-get($map: $colors, $key: 'white');
      border-bottom-color: map-get($map: $colors, $key: 'white');
    }
    }
  }
}

.sprite{
  background: url("../images/index.png") no-repeat 0 0;
  display: inline-block;
  background-size: 375px;
  &.sprite-news{
    width: 25px;
    height: 25px;
    background-position: 63.546% 15.517%;
  }
  &.sprite-story{
    width: 25px;
    height: 25px;
    background-position: 90.483% 15.614%;
  }
  &.sprite-shop{
    width: 25px;
    height: 25px;
    background-position: 36.746% 0.924%;
  }
  &.sprite-experience{
    width: 25px;
	  height: 25px;
    background-position: 10.408% 15.517%;
  }
  &.sprite-new{
    width: 25px;
	  height: 25px;
    background-position: 89.733% 1.266%;
  }
  &.sprite-inherit{
    width: 25px;
	  height: 25px;
    background-position: 36.467% 15.287%;
  }
  &.sprite-simulate{
    width: 25px;
	  height: 25px;
    background-position: 9.302% 0.813%;
  }
  &.sprite-king{
    width: 25px;
	  height: 25px;
    background-position: 63.3% 0.927%;
  }
  &.sprite-account{
    width: 25px;
	  height: 25px;
    background-position: 0 96.207%;
  }
  &.sprite-versions{
    width: 25px;
    height: 25px;
    background: url("../images/version-icon.png") no-repeat 0 0;
    background-size: 100% 100%;
    
  }
  &.sprite-envir{
    width: 35px;
    height: 25px;
    background: url("../images/djhj.png") no-repeat 0 0;
    background-size: 100% 100%;
    
  }
  &.sprite-team{
    width: 47px;
    height: 25px;
    background: url("../images/wxwzt.png") no-repeat 0 0;
    background-size: 100% 100%;
    
  }
  &.sprite-arrow{
    width: 10px;
    height: 10px;
    background-position: 38.577% 52.076%;
  }
  &.sprite-arrow-reverse{
    width: 10px;
    height: 10px;
    background-position: 38.577% 52.076%;
    transform: rotate(180deg);
  }
}